[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=bulk-actions
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Krita Bulk Actions
Comment=Apply actions to multiple layers at once
